body
{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

body *{
    box-sizing: border-box;
}

header
{
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: beige;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#parte_sinistra_header
{
    display: flex;
    align-items: center;
    column-gap: 3%;
}

#parte_destra_header
{
    position: absolute;
    right: 2%;
    display: flex;
    align-items: center;
    column-gap: 20%;
}

#logo
{
    width: 20%;
}

#img_carrello
{
    width: 110%;
    transition: transform 0.2s;
}

#img_carrello:hover
{
    transform: scale(0.9);
}

#link_valori
{
    color: black;
    text-decoration: none;
    font-size: 110%;
    transition: transform 0.2s;
}

#link_valori:hover
{
    transform: scale(0.9);
}

#link_home
{
    color: black;
    text-decoration: none;
    font-size: 110%;
    transition: transform 0.2s;
}

#link_home:hover
{
    transform: scale(0.9);
}

#link_menu_settimana
{
    color: black;
    text-decoration: none;
    font-size: 110%;
    transition: transform 0.2s;
}

#link_menu_settimana:hover
{
    transform: scale(0.9);
}

#img_login
{
    width: 130%;
    transition: transform 0.2s;
}

#img_login:hover
{
    transform: scale(0.9);
}

#benvenuto_utente
{
    font-size: 120%;
}

.contenuto{

    width: 100vw;
    height: 100vh;

    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh 0;
    background-image: url(../img/body_background.jpg);
    background-size: cover;      
    background-position: center;

}


#contenuto_testo{

    display: flex;
    flex-direction: column;

    width: 500px;
    
    background-color: antiquewhite;
    /*box-shadow: 8px 10px #888888;*/
    box-shadow: 0 0 10px 1px grey;
    padding: 25px;
    overflow: hidden;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;

    background-image: url('../img/homepage_background.jpg');
    background-size: cover;             /*ridimensionamento immagine in base allo schermo*/
    background-position: center;


}

#text{

    font-size: 120%;

}


#title{

    font-size: 200%;
    color: fuchsia;
    text-align: center;
    font-style: italic;

}

#intestazione{

    overflow: auto;

}

.elemento{

    float: left;
    margin-right: 10px;

}