
#contenuto{

    display: flex;
    flex-direction: column;

    width: 500px;
    margin: 50px auto;
    background-color: antiquewhite;
    box-shadow: 8px 10px #888888;
    padding: 25px;
    overflow: hidden;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;


}

#text{

    font-size: 120%;

}


#title{

    font-size: 200%;
    color: fuchsia;
    text-align: center;
    font-style: italic;

}

#intestazione{

    overflow: auto;

}

.elemento{

    float: left;
    margin-right: 10px;

}